# See http://help.github.com/ignore-files/ for more about ignoring files.


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml
*.ipr
*.iws
.idea
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache
config.json

# System Files
.DS_Store
Thumbs.db
/config.json
